.loader {
    width: 100px;
    height: 100px;
    border-radius: 58%;
    border: 3px dashed #ababab;
    animation: rotate 5s infinite;
    margin-inline: auto;
    margin-top: 4rem;
    z-index: 2;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.2);
    }
}