h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #262626;
    font-weight: normal;
}

.numerous-container {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
}

.numerous-container > * {
    text-align: center;
}