#searchbar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 2.5rem;
}

.my-input {
    display: block;
    padding: 8px 24px;
    margin-bottom: 12px;
    width: 100%;
    font-size: 1.05rem;
    outline: none;
    border: none;
}

.my-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ababab;
    opacity: 1; /* Firefox */
}

.my-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ababab;
}

.my-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #ababab;
}