* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Microsoft JhengHei UI', sans-serif;
    padding: 4rem 2rem;
}

#root {
    margin-inline: auto;
    max-width: 900px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #686868;
}