.card {
    max-width: 550px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
}

.card > img {
    height: 50%;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card p {
    margin-bottom: 0;
}

.user-info {
    height: 50%;
    width: 100%;
    padding: 16px;
    position: relative;
}

.user-info > div {
    height: 100%;
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.user-info > img {
    height: 70px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    border-radius: 50%;
}

.stack {
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card .stack-item {
    /*margin-bottom: 16px;*/
}

.stack-item {
    color: #565757;
    border-radius: 8px;
    padding: 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: inline-block;
}
