header {
    margin-bottom: 4rem;
}

header, .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 100px;
    margin-right: 1rem;
}

.pages a:not(:first-child) {
    margin-left: 1.5rem;
}

.btns > .btn {
    font-size: 1rem;
    padding: 2px 16px;
    border-radius: 8px;
}

.btns > .btn:not(:last-child) {
    margin-right: 8px;
}